.navbar-brand {
    font-family: Lobster;
    padding: 15px;
    font-size: 40px;
}

.nav {
    font-family: Bitter;
}

.navlinks {
    font-size: 20px;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;

}

#home p {
    text-align: center;
    font-family: Handlee;
    font-size: 20px;
}

#carousel {
    text-align: center;
}

#time, #weather, #flight, #participation {
    padding-left: 50px;
    padding-right: 20px;
    text-align: center;
}

@media only screen and (max-width: 768px) {
    .navlinks {
        
    }
}
