.navbar-brand {
    font-family: Lobster;
    font-size: 40px;
    padding-bottom: 50px;
}

.nav {
    font-family: Bitter;
}

h1 {
    text-align: center;
}

#descript{
    padding-top: 50px;
    background-image: url(hot-air-balloon-header.jpg);
    height: 300px;
    background-position: center;
}


#line1{
    font-family: 'Chewy';
    color: black;
} 

#line2 {
    color: lightblue;
    text-shadow: 2px 2px 3px black; 
    
}

#line3{
    color: yellow;
    text-shadow: 2px 2px 3px black; 
}

#line2, #line3 {
    font-family: 'Dancing Script';
}

.navlinks {
    font-size: 20px;
    text-align: center;
    padding: 20px;

}

#home p {
    text-align: center;
    font-family: Handlee;
    font-size: 18px;
}

#carousel {
    text-align: center;
}

  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      margin: auto;
  }
  
#glyphicon {
    color: blue;
}

#time, #weather, #flight, #participation {
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
}

@media only screen and (max-width: 768px) {
    #line1, #line2, #line3 {
        font-size: 30px;
    }
}

@media only screen and (max-width: 992px) {
    #line1, #line2, #line3 {
        font-size: 30px;
    }
}

@media only screen and (max-width: 1200px) {
    #line1, #line2, #line3 {
        font-size: 30px;
    }
}
.gallery p{
    text-size: 23px;
    font-family: "times new roman";
    background-color: white;
    color:black;
    width:430px;
}
